<div ng-controller="UsuarioControlador">
	<div class="row">
		<div class="col-md-6">
			<div class="card card-stats">
				<div class="card-header" data-background-color="green">
					<i class="material-icons">content_copy</i>
				</div>
				<div class="card-content">
					<h3 class="title">Gestión de usuarios</h3>
					<p class="category">Registra un nuevo usuario</p>
				</div>
				<div class="content" style="margin-left: 20px; margin-right: 20px;">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group label-floating">
								<label class="control-label">Usuario</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group label-floating">
								<label class="control-label">Contraseña</label>
								<input type="password" class="form-control">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group label-floating">
								<label class="control-label">Confirmar contraseña</label>
								<input type="password" class="form-control">
							</div>
						</div>
					</div>
					<h3 class="title text-center">Permisos</h3>
					<div ng-repeat="item in permisos">
						<div class="row" style="position: relative; top: -10px;">
							<div class="col-sm-12">
								<h6 class="text-success">{{item.nombre}}</h6>
								<hr class="divider" />
							</div>
						</div>
						<div class="row" style="position: relative; top: -20px;">
							<div class="col-sm-4" ng-repeat="subItem in item.menu">
								<div class="checkbox">
									<label style="color: black;">
										<input type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="check"></span></span>
										{{subItem.item}}
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="stats">
						<a href="#pablo" class="btn btn-primary btn-round">Guardar<div class="ripple-container"></div></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-header" data-background-color="orange">
					<h4 class="title">Lista de usuarios</h4>
	                <p class="category">Puede editar y desactivar los usuarios</p>
				</div>
				<div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                        	<tr>
                        		<th>Usuario</th>
                        		<th>Fecha creación</th>
                        		<th>Estado</th>
								<th>Editar</th>
                        	</tr>
                        </thead>
                        <tbody>
                            <tr>
                            	<td>Dakota Rice</td>
                            	<td>Niger</td>
                            	<td>Oud-Turnhout</td>
								<td class="text-primary">$36,738</td>
                            </tr>
                            <tr>
                            	<td>Minerva Hooper</td>
                            	<td>Curaçao</td>
                            	<td>Sinaai-Waas</td>
								<td class="text-primary">$23,789</td>
                            </tr>
                            <tr>
                            	<td>Sage Rodriguez</td>
                            	<td>Netherlands</td>
                            	<td>Baileux</td>
								<td class="text-primary">$56,142</td>
                            </tr>
                            <tr>
                            	<td>Philip Chaney</td>
                            	<td>Korea, South</td>
                            	<td>Overland Park</td>
								<td class="text-primary">$38,735</td>
                            </tr>
                            <tr>
                            	<td>Doris Greene</td>
                            	<td>Malawi</td>
                            	<td>Feldkirchen in Kärnten</td>
								<td class="text-primary">$63,542</td>
                            </tr>
                            <tr>
                            	<td>Mason Porter</td>
                            	<td>Chile</td>
                            	<td>Gloucester</td>
								<td class="text-primary">$78,615</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
			</div>
		</div>
	</div>
</div>