<div ng-controller="UsuarioControlador">
	<div class="row">
		<div class="col-md-6">
			<div class="card card-stats">
				<div class="card-header" data-background-color="green">
					<i class="material-icons">content_copy</i>
				</div>
				<div class="card-content">
					<h3 class="title">Gestión de usuarios</h3>
					<p class="category">Registra un nuevo usuario</p>
				</div>
				<div class="content" style="margin-left: 20px; margin-right: 20px;">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group label-floating">
								<label class="control-label">Usuario</label>
								<input ng-model="usuario.usuario" type="text" class="form-control">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group label-floating">
								<label class="control-label">Contraseña</label>
								<input ng-model="usuario.contrasena" type="password" class="form-control">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group label-floating">
								<label class="control-label">Confirmar contraseña</label>
								<input ng-model="contrasena" type="password" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group label-floating">
								<label class="control-label">Perfil</label>
								<select ng-model="usuario.perfil" type="email" class="form-control">
									<option ng-repeat="item in perfiles" value="{{item.id}}">{{item.nombre}}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group label-floating">
								<label class="control-label">Email</label>
								<input ng-model="usuario.email" type="email" class="form-control">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group label-floating">
								<label class="control-label">Teléfono</label>
								<input ng-model="usuario.telefono" type="text" class="form-control">
							</div>
						</div>
					</div>
					<h3 class="title text-center">Permisos</h3>
					<div ng-repeat="item in permisos">
						<div class="row" style="position: relative; top: -10px;">
							<div class="col-sm-12">
								<h6 class="text-success">{{item.nombre}}</h6>
								<hr class="divider" />
							</div>
						</div>
						<div class="row" style="position: relative; top: -20px;">
							<div class="col-sm-4" ng-repeat="subItem in item.menu">
								<div class="checkbox">
									<label style="color: black;">
										<input ng-model="subItem.check" type="checkbox" name="optionsCheckboxes"><span class="checkbox-material"><span class="check"></span></span>
										{{subItem.item}}
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="stats">
						<button ng-click="registrarUsuario();" class="btn btn-primary btn-round">Guardar</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-header" data-background-color="green">
					<h4 class="title">Lista de usuarios</h4>
	                <p class="category">Puede editar y desactivar los usuarios</p>
				</div>
				<div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-success">
                        	<tr>
                        		<th>Usuario</th>
                        		<th style="width: 190px;">Fecha creación</th>
                        		<th>Estado</th>
								<th>Editar</th>
                        	</tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in usuarios">
                            	<td>{{item.identificacion}}</td>
                            	<td>{{item.fechaCreacion | date:"dd-MM-yyyy 'a las' h:mm a"}}</td>
                            	<td>
                            		<div class="material-switch pull-center">
			                            <input ng-checked="item.estado == 'ACTIVO'" id="check{{item.id}}" name="check{{item.id}}" type="checkbox"/>
			                            <label for="check{{item.id}}" class="label-info"></label>
			                        </div>
                            	</td>
								<td >
									<button class="btn btn-info btn-round btn-just-icon">
										<i class="material-icons">edit</i><div class="ripple-container"></div>
									</button>
								</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
			</div>
		</div>
	</div>
</div>