<div class="sidebar" data-color="purple" data-image="">
	<div class="logo">
		<a href="http://www.creative-tim.com" class="simple-text">
			Creative Tim
		</a>
	</div>
	<div class="sidebar-wrapper">
		<ul class="nav">
			<li ng-class="{'active' : banMenu[0]}">
                <a href="menu.html#!/materia" ng-click="activar(0)">
                    <i class="material-icons">dashboard</i>
                    <p>Materias</p>
                </a>
            </li>
            <li ng-class="{'active' : banMenu[1]}">
                <a href="menu.html#!/profesores" ng-click="activar(1)">
                    <i class="material-icons">person</i>
                    <p>Profesores</p>
                </a>
            </li>
            <li ng-class="{'active' : banMenu[2]}">
                <a href="" ng-click="activar(2)">
                    <i class="material-icons">android</i>
                    <p>Estudiantes</p>
                </a>
            </li>
		</ul>
	</div>
</div>